{% extends "poster.jinja2" %}

{### Header ###}

{% set poster_title = "Anomaly Detection with Machine Learning in Time Series Data from the Fermi Anti-Coincidence Detector" %}
{% set poster_subtitle = "" %}
{% set venue_long = "Gravi Gamma Nu 2024" %}
{% set venue_short = "09/10/2024 - 11/10/2024" %}
{% set webpage_title = poster_title + " (" + venue_short + " poster)" %}
{% set project_url = "" %}
{% set venue_url = "https://gravi-gamma.my.canva.site/fifth-gravi-gamma-workshop" %}
{% set contact = "andrea.adelfio@pg.infn.it" %}

{% set pub_datetime_iso = "2024-10-09" %}
{% set pub_date = "October 09, 2024" %}

{% block custom_head %}
  <style type="text/css">
    html { font-size: 0.95rem }
  </style>
{% endblock %}

{% block badges %}
  {# --------------- #}
  {# For HTML poster #}
  {# --------------- #}
  <a href="https://agenda.infn.it/event/38056/"><img alt="indico event" src="https://img.shields.io/badge/indico-event-black?style=flat&logoColor=white"></a>
  {# <a href="https://indico.nikhef.nl/event/4875/contributions/20381"><img alt="indico contribution" src="https://img.shields.io/badge/indico-contribution-c48e48?style=flat&logoColor=white"></a> #}
  {# <a href="https://indico.nikhef.nl/event/4875/contributions/20381/attachments/8148/11608/lamarr_poster_eucaifcon24.pdf"><img alt="poster PDF" src="https://img.shields.io/badge/PDF-poster-EC1C24?style=flat&logo=Adobe%20Acrobat%20Reader&logoColor=white"></a> #}
  {# <a href="https://arxiv.org/abs/2303.11428"><img alt="arXiv preprint" src="https://img.shields.io/badge/arXiv-2303.11428-B31B1B?style=flat&logoColor=white"></a> #}
{% endblock %}

{% block authors %}
  <span class="medium">
    <a property="author"><strong>A. Adelfio</strong><sup>1</sup></a>,
    <a property="author">S. Cutini<sup>1</sup></a>,
    <a property="author">S. Germani<sup>2</sup></a>,
    <a property="author">F. Longo<sup>3</sup></a>,
    <a property="author">R. Crupi<sup>4</sup></a>,
  </span>
{% endblock %}

{% block affiliations %}
  <span class="normal">
    <sup>1</sup><a property="sourceOrganization">INFN-Perugia</a>,
    <sup>2</sup><a property="sourceOrganization">University of Perugia</a>,
    <sup>3</sup><a property="sourceOrganization">INFN-Trieste</a>,
    <sup>4</sup><a property="sourceOrganization">University of Udine</a>,
    {# <sup>a</sup><a property="sourceOrganization">Istituto Nazionale di Fisica Nucleare (INFN), CNAF, Italy</a> #}
  </span>
{% endblock %}

{# Project logos shown on the left side #}
{% block project_logos %}
  {# --------------- #}
  {# For HTML poster #}
  {# --------------- #}
  {# <div style="width: 24rem">
    <a href="https://next-generation-eu.europa.eu"><img style="height: 2.5rem; padding: 0.55rem" src="img/logos/nextgeneu-white-logo.png" alt="NextGenEU logo"></a>
    <a href="https://www.mur.gov.it"><img style="height: 2.5rem; padding: 0.55rem" src="img/logos/mur-white-logo.png" alt="MUR logo"></a>
    <a href="https://www.italiadomani.gov.it"><img style="height: 2.5rem; padding: 0.55rem" src="img/logos/pnrr-white-logo.png" alt="PNRR logo"></a>
    <a href="https://www.supercomputing-icsc.it/en"><img style="height: 2.5rem; padding: 0.55rem" src="img/logos/icsc-white-logo-nobkg.png" alt="ICSC logo"></a>
  </div> #}
  {# -------------- #}
  {# For PDF poster #}
  {# -------------- #}
  <div style="width: 24rem">
    <a href="https://next-generation-eu.europa.eu"><img style="height: 2.5rem; padding-right: 0.55rem; padding-bottom: 0.5rem" src="img/logos/nextgeneu-white-logo.png" alt="NextGenEU logo"></a>
    <a href="https://www.mur.gov.it"><img style="height: 2.5rem; padding-left: 0.55rem; padding-bottom: 0.5rem" src="img/logos/mur-white-logo.png" alt="MUR logo"></a>
    <a href="https://www.italiadomani.gov.it"><img style="height: 2.5rem; padding-right: 1.0rem; padding-top: 0.5rem" src="img/logos/pnrr-white-logo.png" alt="PNRR logo"></a>
    <a href="https://www.supercomputing-icsc.it/en"><img style="height: 2.5rem; padding-left: 1.0rem; padding-top: 0.5rem" src="img/logos/icsc-white-logo-nobkg.png" alt="ICSC logo"></a>
  </div>
{% endblock %}

{# Extra logos shown on the right side #}
{% block logos %}
  {# --------------- #}
  {# For HTML poster #}
  {# --------------- #}
  {# <a href="{{ venue_url }}"><img style="padding: 0.55rem" src="img/logos/fermi-logo.png" alt="Fermi logo"></a> #}
  {# -------------- #}
  {# For PDF poster #}
  {# -------------- #}
  <a href="{{ venue_url }}"><img style="padding-right: 2.5rem" src="img/logos/fermi-logo.png" alt="Fermi logo"></a>
{% endblock %}

{### Footer ###}

{# Disclaimer shown on the left side #}
{% block disclaimer %}
  {# on behalf of the LHCb Simulation Project #}
  <strong>ICSC</strong> Italian Research Center on High-Performance Computing, Big Data and Quantum Computing
{% endblock %}

{# Contact information shown on the middle side #}
{% block contact_info %}
  {# contact: <a class="monospace">{{ contact }}</a> #}
  <em>Missione 4 • Istruzione e Ricerca</em>
{% endblock %}

{# General information shown on the right side #}
{% block general_info %}
  October 2024, Bari (Italy)
{% endblock %}

{### Contents ###}

{% block contents %}
  {# Abastract #}
  <article>
    <header><h3>Abastract</h3></header>
    <p>
      Multimessenger astrophysics relies on multiple observational data channels, requiring efficient methods to analyze 
      events of astrophysical origin. Given the increasing volume and complexity of data from modern observatories, 
      machine learning techniques have become essential for efficiently identifying signals.
    </p>
    <p>
      This project applies machine learning techniques to time series data from the Anti-Coincidence Detector (ACD) on 
      the Fermi Gamma-ray Space Telescope, with the aim of improving the detection of high-energy transient events such 
      as Gamma-Ray Bursts. The presentation begins by introducing the concept of time series and the ACD and satellite 
      data itself. A feed-forward neural network (FFNN) is employed to learn temporal patterns in the time series and 
      predict the background. This is followed by the implementation of a triggering algorithm for anomaly detection, 
      which identifies significant deviations from the background, signaling the presence of astrophysical transients.
    </p>
    <p>
      This tool can be adapted for various signals, making it applicable across different contexts in multimessenger studies.
    </p>
  </article>

  {# 1. Motivation #}
  <article>
    <header><h3>1. Motivation</h3></header>
    <p>
      This work presents a versatile and flexible <strong>Machine Learning-based software</strong> designed to
      address two challenges in the analysis of time series data: 
      <ul>
        <li><strong>modeling the temporal behaviour</strong>
        within time series datasets to predict the evolution of time series;</li>
        <li><strong>identifying anomalies</strong> within those series;</li>
      </ul>
    </p>
  </article>

  {# 2. What is The Anti-Coincidence Detector? #}
  <article>
    <header><h3>2. What is The Anti-Coincidence Detector?</h3></header>
    <p>
      The <strong>Anti-Coincidence Detector</strong> (ACD) is a system on board of Fermi used to reject background
      signal such as charged-particles from the Large Area Telescope signal. 
    </p>
    <figure>
      <img style="width: 50%" src="img/pictures/ACD_from_above.jpg" alt="ACD_from_above">
    </figure>
    <p>
      The ACD is composed of 89 plastic scintillator tiles that detect particles and photons, distributed in the five faces. The signal in each face 
      looks like this:
    </p>
    <figure>
      <img style="width: 100%" src="img/signals/Outputs_24.png" alt="outputs 24 signal">
    </figure>
  </article>

  {# 3. Dataset #}
  <article>
    <header><h3>3. Dataset</h3></header>
    <p>
      The dataset used for the training and testing of the software is composed of the time series of the five signals in the ACD and a set of input features:
      <ul>
        <li>the parameters in the <strong>weekly Spacecraft files</strong> (FT2) from the Fermi Collaboration;</li>
        <figure>
          <img style="width: 100%" src="img/pictures/inputs_ft2.png" alt="full/inputs_ft2 schemes">
        </figure>
        <li>the <strong>Solar Activity</strong> retrieved from the Geostationary Operational Environmental Satellite (GOES) X-Ray Sensor (XRS);</li>
        <figure>
          <img style="width: 100%" src="img/pictures/inputs_solar.png" alt="full/inputs_solar schemes">
        </figure>
        <li>the signals of the five faces in the ACD.</li>
      </ul>
    </p>
  </article>

  {# 4. Background Prediction with Neural Networks #}
  <article>
    <header><h3>4. Background Prediction with Neural Networks</h3></header>
    <p>
      The software was developed starting from the data of the ACD as a playground.
    </p>
      The software implements a <strong>Feed Forward Neural Network</strong> (FFNN) to model the temporal behaviours.
      As a supervised technique, the neural network training is performed on a dataset having as labeled ouput the ACD signals in the dataset and the input parameters:
    </p>
    <hr/>
    <figure>
      <img style="width: 100%" src="img/schemes/inputs_nn_output.png" alt="full/inputs_nn_output schemes">
    </figure>
    <p>
      The NN has a <strong>Mean Absolute Error</strong> Loss Function, less sensitive to outliers in the dataset:
      <figure>
        <img style="width: 60%" src="img/pictures/mae.png" alt="full/fast sim schemes">
      </figure>
    </p>
  </article>


  {# 5. Results of the NN #}
  <article>
    <header><h3>5. Results of the NN</h3></header>
    <p>
      The FFNN was trained on a dataset from February 2024 to July 2024, and then tested on different periods with known solar flare events.
      <figure>
        <img style="width: 100%" src="img/pictures/result_nn.png" alt="full/result_nn">
      </figure>
    </p>
    <p>
      Even if the (present) period occurs during a solar maxima and therefore there are plenty of solar flare events, the model still has some problem in accurately describing the flares.
      <figure>
        <img style="width: 100%" src="img/pictures/xpos_flare.png" alt="full/xpos_flare">
      </figure>
    </p>
  </article>

  {# 6. Identification of anomalies: Gaussian FOCuS #}
  <article>
    <header><h3>6. Identification of anomalies: Gaussian FOCuS</h3></header>
    <p>
      The software implements a triggering algorithm based on the <strong>Gaussian FOCuS</strong> method to identify anomalies in the time series.
      The FOCuS algorithm is a CUSum
    </p>
  </article>

  {# 7. Results of the Triggering Algorithm #}
  <article>
    <header><h3>7. Results of the Triggering Algorithm</h3></header>
    <p>
    </p>
    <figure>
      <img style="width: 49%" src="img/lhcb-figs/lamarr-trk-efficiency.png" alt="Lamarr trk efficiency">
      <img style="width: 49%" src="img/lhcb-figs/lamarr-trk-resolution.png" alt="Lamarr trk resolution">
      <figcaption>
        <small>
          Validation plots for the DNN-based model of the tracking efficiency (left) and the GAN-based model of
          the spatial tracking resolution (right).
        </small>
      </figcaption>
    </figure>
  </article>

  {# 8. Conclusions and outlook #}
  <article>
    <header><h3>8. Conclusions and outlook</h3></header>
    <p>
      The development of <strong><span class="monospace">ACDAnomalies</span></strong> is ongoing to offer a versatile and flexible <strong>tool
      for the anomaly detection in time series data</strong>.
    </p>
    <p>
      <strong>FFNN-based models</strong></strong> can be used to describe complex dependencies, such as the ones dependent on the environment
      in which the Fermi satellite is immersed.
      Work is still required to assess the performance of the neural network in big datasets and in different conditions (e.g.
      periods in which the solar activity is particularly high).
    </p>
    <p>
      The triggering algorithm is an importan part of the software, and it is still under development.
    </p>
    <p>
      Future development of <strong><span class="monospace">ACDAnomalies</span></strong> aims to support both integration within the Fermi software stack and its 
      use as a <strong>stand-alone</strong> package.
    </p>
  </article>

  {# Acknowledgements #}
  <article>
    <header><h3>Acknowledgements</h3></header>
    <p>
      The work presented in this contribution is performed in the framework of Spoke 0 and Spoke 3 of the ICSC 
      project - <em>Centro Nazionale di Ricerca in High Performance Computing, Big Data and Quantum Computing</em>, 
      funded by the NextGenerationEU European initiative through the Italian Ministry of University and 
      Research, PNRR Mission 4, Component 2: Investment 1.4, Project code CN00000013 - CUP I53C21000340006.
    </p>
  </article>

  {# References #}
  <article>
    <header><h3>References</h3></header>
    <small>
      <ol>
        <li>A. Author, <em>Title</em>, Paper, Editor, Year</li>
      </ol>
    </small>
  </article>
{% endblock %}
